@font-face {
    font-family: Odin;
    src: url(Fonts/Norse-Bold.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--txt);
}

body{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.scaffold{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;

}

.backgroundPlant{
    height: 100vh;
    width: 60vw;
    background-position: center;
    background-size: 100vh;
    background-repeat: no-repeat;
    background-image: url(Images/plantBackground.jpg);
}

.attribution{
    position: absolute;
    color: azure;
    bottom: 3px;
    size: 8px;
    margin-left: 15px;
    font-weight: bold;
}

.logo{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    justify-content: center;
    align-items: center;
    font-family: Odin;
    font-size: 100px;
}

.odinLogo{
    margin-left: 30px;
    width: 80px;
    height: 120px;
}

.getStarted{
    margin-top: 60px;
    font-size: x-large;
    font-weight: bold;
}

.middleSection{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 150px;
}

.form{
    margin-top: 60px;
}
